@import url('https://fonts.googleapis.com/css?family=Inter:400,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout */
body {
    width: 375px;
}

@media screen and (min-width: 1440px) {
    body {
        width: 1440px;
    }
}

/* Colors */
:root {
    --primary-green: hsl(75, 94%, 57%);
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-grey: hsl(0, 0%, 20%);
    --neutral-dark-grey: hsl(0, 0%, 12%);
    --neutral-off-black: hsl(0, 0%, 8%);
}

/* Typography */
body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

strong {
    font-weight: 600;
}